%h2 Build Your Custom Rails Stack

%p 
  Don't you hate having to setup the same shit everytime you 
  start a new project? Well, with Rails 2.3 you can use templates
  to help generate your new bootstrapped application.

%p 
  Just fill out this form and then we'll make a custom script for
  your shiny new Rails project

- form_for @rails_template do |f|
  %fieldset
    %legend Pick Your Templating Language
    = check_box_for "haml"
    = check_box_for "markaby"
    = check_box_for "erubis"
  %fieldset
    %legend Pick Your Javascript Framework
    = check_box_for "jquery"
    = check_box_for "jquery-form"
    = check_box_for "prototype"
  %fieldset
    %legend Testing Frameworks
    = check_box_for "rspec-rails"
    = check_box_for "cucumber"
    = check_box_for "thoughtbot-shoulda"
  %fieldset
    %legend Fixture Plugins
    = check_box_for "factory_girl"
  %fieldset
    %legend Resource Plugin
    = check_box_for "make_resourceful"
    = check_box_for "resource_controller"
  %fieldset
    %legend Misc
    = check_box_for "delete default files"
    = check_box_for "git-ignore"
    
  %button{:type => "submit"} Generate Template