%Label 
  Name
  = f.text_field :name
%br/
%label
  Permalink
  = f.text_field :permalink
%br/
%label
  Options
  = f.text_field :options
%br/
%Label 
  Url
  = f.text_field :url
%br/  
%Label
  Description
  %br/
  = f.text_area :description
%br/