= hidden_field_tag "type", params[:type]
%label 
  Name
  = text_field :command, :name
%br/
%label
  Permalink
  = text_field :command, :permalink
%br/
- current_object.class.default_options.each do |key, value|
  .field
    %label= key
    = text_field_tag "command[options][#{key}]", ((current_object.options || {})[key] || value)
.field
  %label Url
  = text_field :command, :url
.field
  %label Description
  = text_area :command, :description
.field
  %label
  = text_area :command, :script
%br/
%br/