%Label 
  Name
  = f.text_field :name
%br/
%label
  Permalink
  = f.text_field :permalink
%br/
%label
  Options
  = f.text_field :options
%br/
%Label 
  Url
  = f.text_field :url
%br/  
%Label
  Description
  %br/
  = f.text_area :description
%br/
%label
  Type
  %br/
  - if @command.type.blank?
    = select_tag "command_type", options_for_select(["Plugin", "Gem","Rake Task", ""], "")
  - else 
    - type = @command.type[0..-8].capitalize
    = select_tag "command_type", options_for_select(["Plugin", "Gem","Rake Task", ""], "#{type}")
%br/
%br/