%h1 Editing Commands

- @commands.group_by(&:type).each do |type, commands|
  - if !type.blank?
    %h2
      = type[0..-8]
      - form_tag new_admin_command_path, :method => "get" do
        = hidden_field_tag "type", type
        %button{:type => "submit"}== Create New #{type[0..-8].capitalize}
  - else 
    %h2
      Misc Commands
      = button_to 'Create Misc Command', new_admin_command_path, :method => "get"
  %table
    = render :partial => 'command', :collection => commands

